@page "/"
@inject ITournamentService TournamentService

<div class="index">
	<h2>Tournaments</h2>
	<Loading Until="TournamentsLoad">
		@foreach (var tournament in Tournaments.Where(t => t.Published && !t.Archived))
		{
			<NavLink href="@($"/tournament/{tournament.TournamentId}/info")" class="tournament">
				<img class="tournament-logo" src="@tournament.Icon" />
				<div class="tournament-info">
					<h4 class="tournament-info-title">@tournament.Name</h4>
					<p class="tournament-info-desc">@tournament.ShortDescription</p>
				</div>
			</NavLink>
		}
	</Loading>
</div>

@code {
	IEnumerable<WoWsPro.Shared.Models.Tournaments.Tournament> Tournaments { get; set; }
	Task TournamentsLoad { get; set; }

	protected override async Task OnInitializedAsync ()
	{
		TournamentsLoad = TournamentService.Previews.Load;
		Tournaments = await TournamentService.Previews;
	}
}