@page
@model WoWsPro.Server.Pages.ErrorModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Error";
}

<h1>Server Error</h1>
<p>
    If you're seeing this page, you should inform 00duke and describe whan you were doing before you encountered it.  If you're not seeing this page, then I'm sorry I didn't include a lot of aria- attributes.
</p>
