@page "/tournament/{tournamentId:long}/"
@page "/tournament/{tournamentId:long}/info"
@inject ITournamentService TournamentService
@inject IMarkdownConverter Markdown

<Loading Until="TournamentLoad">
	<div class="tournament-info">
		@DescriptionHtml
	</div>
</Loading>

@code {
	[Parameter]
	public long TournamentId { get; set; }

	public Task TournamentLoad { get; set; }
	public Tournament Tournament { get; set; }
	
	MarkupString DescriptionHtml { get; set; }

	protected override async Task OnParametersSetAsync ()
	{
		TournamentService.CurrentTournamentId = TournamentId;
		TournamentLoad = TournamentService.Current.Load;
		Tournament = await TournamentService.Current;

		DescriptionHtml = Markdown.ToHtml(Tournament.Description);
	}
}
