

.account-login {

	.option-wrapper {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		background: $color-neutral;
		border: 1px solid $color-neutral-light;
		border-radius: 1em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		padding: 1em;
		box-shadow: #333 0 2px 5px;

		.auth-option {
			width: 100%;
			cursor: pointer;
			display: flex;
			align-items: center;
			border: 0.2em solid $color-neutral;
			border-radius: 0.5em;
			margin: 0.3em 0;
			font-size: 1.2rem;
			background: $color-neutral-light;
			overflow: hidden;

			.region-indicator {
				display: block;
				margin: 0;
				padding: 0.5em;
				color: $color-white;
				text-align: right;
				flex-grow: 1;
			}

			.description {
				display: block;
				margin: 0;
				padding: 0.5em;
				white-space: nowrap;
				color: $color-white;
			}

			&:hover, &:focus {
				border-color: $color-secondary;
			}
		}
	}

	.NA {
		background: $color-region-na;
	}

	.EU {
		background: $color-region-eu;
	}

	.CIS {
		background: $color-region-ru;
	}

	.SEA {
		background: $color-region-ap;
	}
}
