@import "../../Includes/colors.scss";
@import "../../Includes/fonts.scss";
@import "../../Includes/mediaq.scss";

.dashboard {
	padding: 1em;

	.name {
		margin: 0.2em;
		padding: 0.5em;
		display: flex;
		background: $color-purple-light;
		border-radius: 0.25em;
		align-items: center;

		h1 {
			margin: 0;
			font-family: $font-header;
			font-weight: 200;
			flex-grow: 1;
		}

		a {
			background: $color-purple-dark;
			color: $color-white;
			font-family: $font-copy;
			font-size: 1em;
			border: none;
			border-radius: 0.5em;
			padding: 0.5em;
			margin: 0.5em auto;
			display: inline-block;
			text-decoration: none;

			&:hover,
			&:focus {
				background: $color-blue-dark;
			}
		}
	}

	.container {
		display: flex;
		flex-wrap: wrap;
	}

	.accounts {
		margin: 0.4em;
		padding: 1em;
		background: $color-purple-medium;
		font-family: $font-copy;
		border-radius: 1em;

		button,
		.add-account {
			background: $color-purple-dark;
			color: $color-white;
			font-family: $font-copy;
			font-size: 1em;
			border: none;
			border-radius: 0.5em;
			padding: 0.5em;

			&:hover,
			&:focus {
				background: $color-blue-dark;
			}
		}

		.add-account {
			margin: 0.5em auto;
			display: inline-block;
			text-decoration: none;
		}

		h2 {
			margin: 0 0 0.2em 0;
			text-align: center;
		}

		.account {
			padding: 0.5em 0;
			border-bottom: 1px solid $color-black-off;

			&:first-child {
				border-top: 1px solid $color-black-off;
			}

			h3 {
				margin: 0 0.5em 0.75em 0;
			}

			.NA, .EU, .CIS, .APAC {
				font-size: 0.7em;
				padding: 0.5em;
				border-radius: 0.5em;
			}

			.NA {
				background-color: $color-region-na;
			}

			.EU {
				background-color: $color-region-eu;
			}

			.CIS {
				background-color: $color-region-ru;
			}

			.SEA {
				background-color: $color-region-ap;
			}
		}
	}
}
