@import "../../Includes/colors.scss";

.account-login {

	.option-wrapper {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		background: $color-purple-medium;
		border: 1px solid $color-purple-light;
		border-radius: 1em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		padding: 2rem;
		box-shadow: #333 0 2px 5px;

		.auth-option {
			width: 100%;
			cursor: pointer;
			display: flex;
			border: 0.2rem solid $color-purple-medium;
			border-radius: 0.5rem;
			margin: 1rem 0;
			font-size: 2rem;
			background: $color-purple-light;
			overflow: hidden;

			.region-indicator {
				display: inline-block;
				margin: 0;
				padding: 1rem;
				color: $color-white;
				width: 3.5em;
			}

			.description {
				display: inline-block;
				margin: 0;
				padding: 1rem;
				color: $color-white;
			}

			&:hover, &:focus {
				border-color: $color-blue-light;
			}
		}
	}

	.NA {
		background: $color-region-na;
	}

	.EU {
		background: $color-region-eu;
	}

	.CIS {
		background: $color-region-ru;
	}

	.APAC {
		background: $color-region-ap;
	}
}