*, *::before, *::after {
  box-sizing: border-box; }

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #1a1224;
  color: #ffffff;
  margin: 0; }

a, a:visited {
  color: #29abe2;
  text-decoration: none; }

a:hover, a:focus {
  text-decoration: underline; }

.nav-menu {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 3rem;
  padding: 0 10px;
  font-size: 1.5rem;
  background-color: #2b1043;
  color: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25); }
  .nav-menu a {
    text-decoration: none;
    color: inherit; }
  .nav-menu .brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%; }
  .nav-menu .logo {
    height: 100%; }
  .nav-menu .title {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-weight: 200;
    font-style: italic;
    font-variant-caps: petite-caps;
    letter-spacing: 0.01em;
    font-size: 1.5em;
    text-shadow: 0px 0px 5px black;
    margin: 0; }
  .nav-menu .nav-links {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; }
    .nav-menu .nav-links a {
      height: 100%;
      position: relative;
      padding: 0.5em 10px; }
      .nav-menu .nav-links a::after {
        content: "";
        display: block;
        position: absolute;
        background-color: #0071bc;
        left: 50%;
        transform: translateX(-50%) scaleX(0);
        transform-origin: center;
        transition: transform ease-in-out 150ms;
        bottom: 0;
        height: 0.2em;
        border-radius: 0.1em;
        width: calc(100% - 4 * 10px); }
      .nav-menu .nav-links a.active {
        background-color: #3f1e55; }
      .nav-menu .nav-links a:hover {
        background-color: #3f1e55; }
        .nav-menu .nav-links a:hover::after {
          transform: translateX(-50%) scaleX(1); }

html, body, .body-fill {
  height: 100%; }

.body-fill {
  display: flex;
  flex-direction: column; }

.main-layout > .not-footer {
  flex: 1 0 auto; }

.main-layout > .footer {
  flex-shrink: 0; }

.feet {
  background: #2b1043;
  color: #ffffff;
  display: flex;
  justify-content: center; }
  .feet .interior {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin: 0.5rem 1rem; }
    .feet .interior h1, .feet .interior h2, .feet .interior h3, .feet .interior h4, .feet .interior h5, .feet .interior h6, .feet .interior p {
      margin: 0;
      text-align: right; }
  .feet .personal-logo {
    margin: 0.5rem;
    height: 4rem; }

.account-login .option-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #3f1e55;
  border: 1px solid #5b3d78;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 2rem;
  box-shadow: #333 0 2px 5px; }
  .account-login .option-wrapper .auth-option {
    width: 100%;
    cursor: pointer;
    display: flex;
    border: 0.2rem solid #3f1e55;
    border-radius: 0.5rem;
    margin: 1rem 0;
    font-size: 2rem;
    background: #5b3d78;
    overflow: hidden; }
    .account-login .option-wrapper .auth-option .region-indicator {
      display: inline-block;
      margin: 0;
      padding: 1rem;
      color: #ffffff;
      width: 3.5em; }
    .account-login .option-wrapper .auth-option .description {
      display: inline-block;
      margin: 0;
      padding: 1rem;
      color: #ffffff; }
    .account-login .option-wrapper .auth-option:hover, .account-login .option-wrapper .auth-option:focus {
      border-color: #29abe2; }

.account-login .NA {
  background: #009900; }

.account-login .EU {
  background: #c26b0e; }

.account-login .CIS {
  background: #b53a2f; }

.account-login .APAC {
  background: #0066ff; }

.dashboard {
  padding: 1em; }
  .dashboard .name {
    margin: 0.2em;
    padding: 0.5em;
    background: #5b3d78;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-weight: 200;
    border-radius: 0.25em; }
  .dashboard .accounts {
    margin: 0.4em;
    padding: 1em;
    background: #3f1e55;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 1em; }
    .dashboard .accounts h2 {
      margin: 0 0 0.2em 0;
      text-align: center; }
    .dashboard .accounts .account {
      padding: 0.5em 0;
      border-bottom: 1px solid #1a1224; }
      .dashboard .accounts .account:first-child {
        border-top: 1px solid #1a1224; }
      .dashboard .accounts .account h3 {
        margin: 0 0.5em 0.75em 0; }
      .dashboard .accounts .account button {
        background: #2b1043;
        color: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1em;
        border: none;
        border-radius: 0.5em;
        padding: 0.5em; }
        .dashboard .accounts .account button:hover {
          background: #0071bc; }
      .dashboard .accounts .account .NA, .dashboard .accounts .account .EU, .dashboard .accounts .account .CIS, .dashboard .accounts .account .APAC {
        font-size: 0.7em;
        padding: 0.5em;
        border-radius: 0.5em; }
      .dashboard .accounts .account .NA {
        background-color: #009900; }
      .dashboard .accounts .account .EU {
        background-color: #c26b0e; }
      .dashboard .accounts .account .CIS {
        background-color: #b53a2f; }
      .dashboard .accounts .account .APAC {
        background-color: #0066ff; }
    .dashboard .accounts .add-account {
      margin: 0.5em auto;
      display: inline-block;
      color: #ffffff;
      padding: 0.5em;
      border-radius: 0.5em;
      background: #2b1043;
      text-decoration: none; }
      .dashboard .accounts .add-account:hover, .dashboard .accounts .add-account:focus {
        background: #29abe2; }
