*, *::before, *::after {
  box-sizing: border-box; }

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0; }

a, a:visited {
  color: #29abe2;
  text-decoration: none; }

a:hover, a:focus {
  text-decoration: underline; }

.nav-menu {
  position: sticky;
  width: 100%;
  height: 4rem;
  padding: 0 10px;
  font-size: 2rem;
  background-color: #2b1043;
  color: #ffffff;
  box-shadow: #333333 0px 2px 5px; }
  .nav-menu a {
    text-decoration: none;
    color: inherit; }
  .nav-menu .logo {
    height: 100%;
    float: left; }
  .nav-menu .title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
    font-size: 1.5em;
    margin: 0; }
  .nav-menu .nav-links {
    position: relative;
    float: right;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; }
    .nav-menu .nav-links a {
      height: 100%;
      position: relative;
      padding: 0.5em 10px; }
      .nav-menu .nav-links a::after {
        content: "";
        display: block;
        position: absolute;
        background-color: #0071bc;
        left: 50%;
        transform: translateX(-50%) scaleX(0);
        transform-origin: center;
        transition: transform ease-in-out 150ms;
        bottom: 0;
        height: 0.2em;
        border-radius: 0.1em;
        width: calc(100% - 4 * 10px); }
      .nav-menu .nav-links a.active {
        background-color: #3f1e55; }
      .nav-menu .nav-links a:hover {
        background-color: #3f1e55; }
        .nav-menu .nav-links a:hover::after {
          transform: translateX(-50%) scaleX(1); }

html, body, .body-fill {
  height: 100%; }

.body-fill {
  display: flex;
  flex-direction: column; }

.main-layout > .not-footer {
  flex: 1 0 auto; }

.main-layout > .footer {
  flex-shrink: 0; }

.feet {
  background: #2b1043;
  color: #ffffff;
  display: flex;
  justify-content: center; }
  .feet .interior {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin: 0.5rem 1rem; }
    .feet .interior h1, .feet .interior h2, .feet .interior h3, .feet .interior h4, .feet .interior h5, .feet .interior h6, .feet .interior p {
      margin: 0;
      text-align: right; }
  .feet .personal-logo {
    margin: 0.5rem;
    height: 4rem; }

.account-login .option-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #5b3d78;
  border: 1px solid #2b1043;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 2rem;
  background: #ffffff; }
  .account-login .option-wrapper .auth-option {
    width: 100%;
    cursor: pointer;
    display: flex;
    padding: 0.5rem;
    border-radius: 0.25rem;
    margin: 0.5rem;
    font-size: 2rem; }
    .account-login .option-wrapper .auth-option .region-indicator {
      display: inline-block;
      margin: 0;
      color: #ffffff;
      width: 3.5em; }
    .account-login .option-wrapper .auth-option .description {
      display: inline-block;
      margin: 0;
      color: #ffffff;
      background: #3f1e55; }

.account-login .NA {
  background: #009900; }

.account-login .EU {
  background: #c26b0e; }

.account-login .CIS {
  background: #b53a2f; }

.account-login .APAC {
  background: #0066ff; }
