<title>WoWsPro - Competitive World of Warships</title>
@* <link rel="stylesheet" href="https://use.typekit.net/zgk0ttv.css"> *@
<link rel="stylesheet" href="/css/site.min.css">
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="apple-touch-icon" href="/favicon.ico" />
<link rel="apple-touch-icon-precompressed" href="/favicon.ico" />