// Includes
@import "Includes/fa/fontawesome.scss";
@import "Includes/fa/solid.scss";
@import "Includes/fa/brands.scss";
@import "Includes/colors.scss";
@import "Includes/fonts.scss";
@import "Includes/mediaq.scss";

// Global styles
*, *::before, *::after {
	box-sizing: border-box;
}

body {
	font-family: $font-copy;
	background: $color-black;
	color: $color-white;
	margin: 0;
}

.app-container {
	display: block;
	margin: auto;
	background: $color-black-off;
	/*box-shadow: #333 0px 0px 5px 2px;*/
	//box-shadow: 0px 0px 5px 3px rgba($color-purple-medium, 0.2);
	width: 100%;

	@include pc-sm {
		width: $width-pc-sm;
	}
	
	@include pc-md {
		width: $width-pc-md;
	}
}

a, a:visited {
	color: $color-blue-light;
	text-decoration: none;
}

a:hover, a:focus {
	text-decoration: underline;
}

// Shared
@import "Shared/NavMenu.scss";
@import "Shared/MainLayout.scss";
@import "Shared/TournamentLayout.scss";
@import "Shared/Feet.scss";
@import "Shared/Loading.scss";

@import "Shared/Team/TeamRoster.scss";

// Pages
@import "Pages/Index.scss";

@import "Pages/Account/Login.scss";
@import "Pages/Account/Dashboard.scss";

@import "Pages/Tournament/Info.scss";
@import "Pages/Tournament/Register.scss";
@import "Pages/Tournament/EditTeam.scss";
@import "Pages/Tournament/Teams.scss";

