@using WoWsPro.Client.Pages.Exceptions

<Router AppAssembly="typeof(Program).Assembly">
	<Found Context="routeData">
		<CascadingValue Value="@routeData">
			<RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
		</CascadingValue>
	</Found>
	<NotFound>
		<MainLayout>
			<Body>
				<NotFound></NotFound>
			</Body>
		</MainLayout>
	</NotFound>
</Router>