// Includes
@import "Includes/colors.scss";
@import "Includes/mediaq.scss";

// Global styles
*, *::before, *::after {
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}

a, a:visited {
	color: $color-blue-light;
	text-decoration: none;
}

a:hover, a:focus {
	text-decoration: underline;
}

// Shared
@import "Shared/NavMenu.scss";
@import "Shared/MainLayout.scss";
@import "Shared/Feet.scss";

// Pages
@import "Pages/Account/Login.scss";

