// Includes
@import "Includes/fa/fontawesome.scss";
@import "Includes/fa/solid.scss";
@import "Includes/fa/brands.scss";
@import "Includes/colors.scss";
@import "Includes/fonts.scss";
@import "Includes/mediaq.scss";

// Global styles
*, *::before, *::after {
	box-sizing: border-box;
}

body {
	font-family: $font-copy;
	background: $color-black-off;
	color: $color-white;
	margin: 0;
}

a, a:visited {
	color: $color-blue-light;
	text-decoration: none;
}

a:hover, a:focus {
	text-decoration: underline;
}

// Shared
@import "Shared/NavMenu.scss";
@import "Shared/MainLayout.scss";
@import "Shared/Feet.scss";
@import "Shared/Loading.scss";

// Pages
@import "Pages/Account/Login.scss";
@import "Pages/Account/Dashboard.scss";

