$color-white: #ffffff;
$color-black: #1a1a1a;
$color-gray: #333333;
$color-black-off: #1a1224;

$color-gold: #e2c444;
$color-blue-dark: #0071bc;
$color-blue-light: #29abe2 ;

$color-purple-dark: #2b1043;
$color-purple-medium: #3f1e55;
$color-purple-light: #5b3d78;

$color-region-na: #009900;
$color-region-eu: #c26b0e;
$color-region-ru: #b53a2f;
$color-region-ap: #0066ff;