$width-phone: 400px;
$width-tablet: 768px;
$width-pc-sm: 1024px;
$width-pc-md: 1366px;

@mixin phone {
	@media (max-width: #{$width-phone - 1px}) {
		@content;
	}
}

@mixin plus {
	@media (min-width: #{$width-phone}) and (max-width: #{$width-tablet - 1px}) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: #{$width-tablet}) and (max-width: #{$width-pc-sm - 1px}) {
		@content;
	}
}

@mixin pc-sm {
	@media (min-width: #{$width-pc-sm}) and (max-width: #{$width-pc-md - 1px}) {
		@content;
	}
}

@mixin pc-md {
	@media (min-width: #{$width-pc-md}) {
		@content;
	}
}
