

@keyframes spinny {
	0% {
		transform: translate(-50%, -50%) rotate(45deg);
	}

	65% {
		transform: translate(-50%, -50%) rotate(360deg);
	}

	100% {
		transform: translate(-50%, -50%) rotate(405deg);
	}
}

.loading {
	position: relative;
	margin: px2rem(15);
	min-height: 5.2em;
	min-width: 5.2em;

	& > svg {
		position: absolute;
		width: 5.2em;
		height: 5.2em;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		border: 0.4em solid $color-primary;
		border-radius: 50%;
	}

	& > div {
		position: absolute;
		width: 5.2em;
		height: 5.2em;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		border-top: 0.4em solid $color-secondary;
		border-radius: 50%;
		animation: spinny 1s linear infinite;
	}
}