<div class="feet">
	<div class="app-container">
		<div class="spacer"></div>
		<div class="interior">
			<h3>Made with 💙 by 00duke</h3>
			<p>Contact me: <a href="https://discordapp.com/users/306923101860528130">ooduke42#0042</a> @*| <a href="mailto:support@wowspro.gg">support@wowspro.gg</a>*@</p>
			<!--<p>Support me on Patreon!</p>-->
		</div>
		<img class="personal-logo" src="/res/00duke.svg" />
	</div>
</div>

@code {

}
