@import "../Includes/colors.scss";

.feet {
	background: $color-purple-dark;
	color: $color-white;

	.app-container {
		display: flex;
		justify-content: right;
		background: transparent;
		box-shadow: none;
	}

	.spacer {
		flex-grow: 1;
		/*background: linear-gradient(to right, $color-black-off, $color-purple-dark);*/
	}

	.interior {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
		margin: 0.25rem 1rem;

		h1, h2, h3, h4, h5, h6, p {
			margin: 0;
			text-align: right;
		}
	}

	.personal-logo {
		margin: 0.5rem;
		height: 3rem;
	}
}
