<div class="feet g-container">
	<img class="logo" src="/res/logo.svg" />
	<div class="interior">
		<p>&copy; @DateTime.Now.Year wows.pro</p>
	</div>
	<div class="spacer"></div>
	<div class="interior align-end">
		<p class="questions">Questions? Contact me: <a href="https://discordapp.com/users/306923101860528130">ooduke42#0042</a></p>
	</div>
	<img class="logo" src="/res/00duke.svg" />
</div>

@code {

}
