@if (Until?.IsCompletedSuccessfully == true)
{
	
	@ChildContent
}
else
{
	// TODO: handle load failures

	// TODO: custom SVG loading icon with better styling
	<div class="loading">
		<object data="/res/Logo.svg" type="image/svg+xml"></object>
		<div></div>
	</div>
}


@code {
	[Parameter]
	public RenderFragment ChildContent { get; set; }

	[Parameter]
	public Task Until { get; set; }
}
