@inherits LayoutComponentBase

<div class="main-layout body-fill">
	<div class="not-footer">
		<NavMenu />
		<div class="main-body g-container">
			@Body
		</div>
	</div>

	<footer class="footer">
		<Feet />
	</footer>
</div>

