@inherits LayoutComponentBase

<div class="main-layout body-fill">
	<div class="not-footer">
		<div>
			<NavMenu />
		</div>

		<div>
			@Body
		</div>
	</div>

	<footer class="footer">
		<Feet />
	</footer>
</div>

