<div class="nav-menu">
	<NavLink href="" Match="NavLinkMatch.All">
		<img class="logo" src="/res/Logo.svg" alt="" />
		<span class="title">WOWSPRO.GG</span>
	</NavLink>

	<div class="nav-links">
		<NavLink href="counter">
			SIGN IN
		</NavLink>
	</div>
</div>

@functions {

}
