@import "../Includes/colors.scss";
@import "../Includes/mediaq.scss";

.shadow {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba($color-black, 0.6);

	&.show {
		display: block;
	}
}

.tournament-layout {
	display: flex;
	min-height: 100%;
	max-width: 100%;

	.open {
		position: fixed;
		bottom: 0;
		left: 0;

		@include pc-sm {
			display: none;
		}

		@include pc-md {
			display: none;
		}

		&.show {
			visibility: hidden;
		}

		button {
			float: right;
			font-size: 1.8em;
			color: $color-white;
			background-color: $color-purple-medium;
			border: none;
			border-radius: 0.2em;
			padding: 0.2em 0.4em;
			margin: 0.2em;
			box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);

			&:hover,
			&:focus {
				background-color: $color-purple-light;
			}
		}
	}

	& > .side-nav {
		flex-shrink: 0;
		position: fixed;
		top: 0;
		bottom: 0;
		background: $color-purple-medium;
		width: 250px;
		min-height: 100%;
		transform-origin: left;
		transform: translateX(-250px);
		transition: transform 150ms ease-in;

		@include pc-sm {
			position: static;
			transform: none;
		}

		@include pc-md {
			position: static;
			transform: none;
		}

		&.show {
			transform: translateX(0);
		}

		.nav-container {
			position: sticky;
			top: 0;
			display: flex;
			flex-direction: column;
			min-height: 100%;
			overflow-y: auto;

			.tournament-icon {
				position: relative;

				img {
					width: 100%;
					min-height: 250px;
					background-color: $color-purple-dark;
				}

				.home {
					display: block;
					position: absolute;
					top: 10px;
					left: 10px;
					right: 10px;
					background-color: rgba(0, 0, 0, 0.3);
					color: $color-white;
					font-size: 1.25em;
					padding: 0.1em 0.2em;
					border-radius: 0.2em;
					text-decoration: none;
					z-index: 1;

					span {
						font-size: 0.8em;
					}

					&:hover,
					&:focus {
						background-color: rgba(0, 0, 0, 0.6);
					}
				}

				&::after {
					content: "";
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 100%;
					background: linear-gradient(to bottom, rgba($color-purple-medium, 0.1) 50%, $color-purple-medium);
				}
			}

			nav {
				display: flex;
				flex-direction: column;

				a {
					display: block;
					color: $color-white;
					padding: 5px 10px;
					text-decoration: none;
					position: relative;
					font-size: 1.25em;
					border-left: 5px solid transparent;
					/*&::after {
						content: "";
						position: absolute;
						right: 0;
						top: 50%;
						width: 0.5em;
						height: 14px;
						border: transparent solid calc(0.5em + 5px);
						border-right: $color-black-off solid calc(0.5em);
						border-left: 0;
						transform: translateY(-50%) scaleX(0);
						transform-origin: right;
						transition: transform 150ms ease-in-out;
					}*/
					&.active {
						background: $color-purple-dark;
						border-left-color: $color-blue-light;
						/*&::after {
							transform: translateY(-50%) scaleX(1);
						}*/
					}

					&:hover,
					&:focus {
						background: $color-purple-light;
					}
				}
			}

			.close {
				flex-grow: 1;
				margin-top: 4em;
				position: relative;

				@include pc-sm {
					display: none;
				}

				@include pc-md {
					display: none;
				}

				button {
					position: absolute;
					bottom: 0;
					left: 0;
					font-size: 1.8em;
					color: $color-white;
					background-color: $color-purple-medium;
					border: none;
					border-radius: 0.2em;
					letter-spacing: -0.2em;
					padding: 0.2em;
					padding-right: 0.4em;
					margin: 0.2em;

					&:hover,
					&:focus {
						background-color: $color-purple-light;
					}
				}
			}
		}
	}

	& > .body {
		flex-grow: 1;
		padding: 0px 5px;
		max-width: 100%;
	}
}
