$color-white: #f7f7f7;
$color-black: #080010;

$color-primary: #0071bc;
$color-secondary: #29abe2;
$color-accent: #e2c444;

$color-link: $color-secondary;

$color-neutral-darker: #0f081a;
$color-neutral-dark: #2b1043;
$color-neutral:  #3f1e55;
$color-neutral-light: #5b3d78;
$color-neutral-lighter: #8c63b3;

$color-region-na: #009900;
$color-region-eu: #c26b0e;
$color-region-ru: #b53a2f;
$color-region-ap: #0066ff;