@import "../../Includes/colors.scss";

.c-TeamRoster {
	background-color: $color-purple-dark;
	color: $color-white;
	margin: 0.4em 0.2em;
	border-radius: 0.2em;
	overflow: hidden;

	&_Header {
		display: flex;
		align-content: center;

		&_Region {
			padding: 0.2em 0.4em;
			margin: 0;
			margin-right: 0.2em;

			&.NA {
				background-color: $color-region-na;
			}

			&.EU {
				background-color: $color-region-eu;
			}

			&.CIS {
				background-color: $color-region-ru;
			}

			&.SEA {
				background-color: $color-region-ap;
			}
		}

		&_Name {
			flex-grow: 1;
			padding: 0.2em;
			margin: 0;
		}

		&_Collapse {
			align-self: flex-end;
			font-size: 1.2em;
			margin: 0.2em;
			transition: transform ease-in-out 200ms;
			background-color: transparent;
			color: $color-white;
			border: none;
			border-radius: 50%;
			width: 1.5em;
			height: 1.5em;
			position: relative;
			transform: rotate(180deg);

			& > span {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			&:hover {
				background-color: $color-purple-medium;
			}

			&:focus {
				outline: none;
				border: 2px $color-blue-light solid;
			}

			&.-Collapsed {
				transform: rotate(0deg);
			}
		}
	}

	&_Detail {

		&_Info {
			display: flex;
		}

		&_Icon {
			max-height: 128px;
			max-width: 128px;
			margin: 0.2em;
		}

		&_List {
			list-style-type: none;
			margin: 0.2em;
			padding: 0.2em;
			//transform-origin: top;
			//transition: transform ease-in-out 200ms;
			//&.-Collapsed {
			//	transform: scaleY(0);
			//}
			&_Player {
				margin: 0.3em;
			}
		}
	}
}
